ion-content {
    --background: url("/assets/Fondo.jpg") no-repeat center center
}

ion-card {
    background: transparent;
    margin-top: 70px;
}

img {
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 60%;
    margin-top: 40px;
}

.ima {
    margin-left: 30%;
    margin-top: 30px;
    margin-bottom: 20px;
}