<ion-header>
    <ion-toolbar>

        <ion-title>MenuEstudiante</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <div class="ima">
            <img src="assets/Duoc.jpg">
        </div>
        <h1>Bienvenido Estudiante</h1>
        <ion-button expand="block" (click)="scan()" color="secondary">Escanear</ion-button>


    </ion-card>


</ion-content>
<ion-item>
    <ion-label>
        <ion-button expand="block" (click)="cerrarSesion()" color="primary">Cerrar sesion</ion-button>
    </ion-label>
</ion-item>